.transitions-wrapper {
	position: relative;
}

.page {
	position: absolute;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 100ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 100ms ease-in;
}
