/*
	transition
*/
.transitions-wrapper {
	position: relative;
}

.page {
	position: absolute;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100 - 10vh);
}

.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 100ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 100ms ease-in;
}

.right-to-left-enter {
	transform: translateX(100%);
}
.right-to-left-enter-active {
	transform: translateX(0);
	transition: all 0.3s ease;
}

.right-to-left-exit {
	transform: translateX(0);
}
.right-to-left-exit-active {
	transform: translateX(-100%);
	transition: all 0.3s ease;
}

.left-to-right-enter {
	transform: translateX(-100%);
}
.left-to-right-enter-active {
	transform: translateX(0);
	transition: all 0.3s ease;
}

.left-to-right-exit {
	transform: translateX(0);
}
.left-to-right-exit-active {
	transform: translateX(100%);
	transition: all 0.3s ease;
}

/*
	프로필 만들기 및 로그인 -> linear layout
*/
.layout-container {
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	text-align: left;
}

.layout-container > div {
	margin-left: 5vw;
}

.layout-contents {
	position: relative;
	height: 60vh;
	top: 12.5%;
}

.layout-title {
	position: "relative";
	font-weight: 900;
	font-size: "30px";
}

.layout-subtitle {
	position: "relative";
}

.layout-select-label {
	display: flex;
	justify-content: center;
	align-items: center;
	position: "absolute";
	height: 100%;
}

.layout-select-radio {
	display: inline-block;
	height: 100%;
}

.layout-button-area {
	position: absolute;
	z-index: 99;
	height: 10vh;
	width: 95vw;
	bottom: 5vh;
}

.layout-mbti-select-area {
	width: 90vw;
}

/* 공통 페이지 컨텐츠 레이아웃 */
.page-contents {
	position: relative;
	top: 10vh;
}

.footer {
	position: relative;
	bottom: 0;
	height: 15vh;
	width: 100vw;
}
