.layout-container {
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	text-align: left;
}

.layout-container > div {
	margin-left: 5vw;
}

.layout-contents {
	position: relative;
	height: 60vh;
	width: 90vw;
	top: 12.5%;
}

.layout-title {
	position: "relative";
	font-weight: 900;
	font-size: "30px";
}

.layout-subtitle {
	position: "relative";
}

.layout-select-label {
	display: flex;
	justify-content: center;
	align-items: center;
	position: "absolute";
	height: 100%;
}

.layout-select-radio {
	display: inline-block;
	height: 100%;
}

.layout-button-area {
	position: absolute;
	z-index: 99;
	height: 10vh;
	width: 95vw;
	bottom: 5vh;
}
