.profile-card-image {
	width: 100vw;
	position: relative;
}
.profile-card-image::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.profile-card-image img {
	width: 100%;
	height: 100%;
}

.container-profile-card-info {
	text-align: left;
	position: relative;
	top: 10vh;
	margin-left: 5vw;
	width: 90vw;
	font-size: 20px;
	height: 100%;
}

.profile-card-info {
	position: relative;
	margin-top: 3vh;
}

.profile-card-property-key {
	font-size: 30px;
	font-weight: 900;
	font-size: "30px";
}

.container-profile-card-button {
	position: relative;
	width: 100%;
	margin-top: 20vh;
	padding-bottom: 10vh;
}
